<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../style/card.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="product-card">
      <img
        src="./../asset/images/000508ba-8b38-4b3b-b011-4b70f553198d-60.JPG"
        alt="Product Image"
      />
      <div class="overlay">
        <div class="product-infos">
          <div class="like-icon">&#10084;</div>
          <h2 class="product-name">Product Name</h2>
          <p class="product-price">$19.99</p>
          <div class="button">
            <button class="btn-contact">En savoir plus</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
