<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../style/index.css" />
    <title>Ben Silver</title>
  </head>
  <body>
    <nav class="navbar_">
      <div class="cart-icon">
        <h4>contact: ( Tel No: +226------------, WhatsApp: +226------------- )</h4>
      </div>
    </nav>
    <nav class="navbar">
      <div class="menu-icon">&#9776;</div>
      <div class="logo">
        <img src="./../asset/Sba logo final.png" alt="Company Logo" />
      </div>
    </nav>
    <div>
      <p>
        It appears that you are trying to create a link with an icon using the
        HTML code you provided. However, there seems to be an issue with the
        image source path. In your code, you are using a relative path to the
        image, and it might not be correctly referencing the icon in your
        project directory structure. Here are a few things to check and
        troubleshoot: 1. **Double-check the File Path:** Ensure that the path to
        your icon is correct relative to the location of your HTML file. In your
        code, you're using `./../asset/icons/`, which means you are going up one
        level (`../`) and then looking for the "asset" folder. Make sure the
        "icons" folder is indeed located there. 2. **Check the File Extension:**
        Ensure that the file extension of your icon matches the actual file
        extension (e.g., .png). In your code, you have specified
        "facebook_4494475.png," so make sure the file in your "icons" folder is
        named exactly the same and has the .png extension. 3. **Validate the
        Image Path:** You can try opening the image directly in your browser by
        entering the image URL in the address bar. For example, if your HTML
        file is in a folder called "pages" and the "icons" folder is at the root
        level, you should be able to access the image by entering something like
        `http://localhost/your_project_root/asset/icons/facebook_4494475.png` in
        your browser. If this doesn't work, it indicates an issue with the image
        path. 4. **Browser Console:** Open your browser's developer console
        (usually by pressing F12 or right-clicking and selecting "Inspect") and
        look for any error messages in the console related to the image loading.
        This can provide more specific information about the problem. If you are
        still facing issues after checking these points, please provide more
        details about your project's directory structure and the exact paths you
        are using, and I'll be happy to assist you further.
      </p>
    </div>
    <footer>
      <div class="main-contain">
        <div class="options">
          <span class="option">
            <a class="optionLink" href="#">A propos de nous</a>
          </span>
          <span class="option">
            <a class="optionLink" href="#">Nos prestations</a>
          </span>
          <span class="option">
            <a class="optionLink" href="#">Nos guaranties et autres</a>
          </span>
          <span class="option">
            <a class="optionLink" href="#">Situation geographique</a>
          </span>
          <span class="option">
            <a class="optionLink" href="">Le blog</a>
          </span>
        </div>
        <div class="contacts">
          <div class="telephone">
            <h4 class="contactText">Contactez nous!</h4>
            <div class="telephoneContain">
              <span class="telephoneIcon">
                <img
                  src="./../asset/icons/telephone-handle-silhouette_25453.png"
                  alt="telephone"
                />
              </span>
              <span class="telephoneInfo">+226---------</span>
            </div>
            <div class="telephoneInfo">
              <span class="telephoneIcon">
                <img
                  src="./../asset/icons/whatsapp_733585.png"
                  alt="facebook"
                />
              </span>
              <span class="telephoneInfo">+226---------</span>
            </div>
          </div>
          <div class="social">
            <h4 class="socialText">Suivez nous aussi sur: </h4>
            <span class="social_">
              <a class="socialLink" href="#">
                <img
                  src="./../asset/icons/facebook_4494475.png"
                  alt="facebook"
                />
              </a>
            </span>
            <span class="social_">
              <a class="socialLink" href="#">
                <img
                  src="./../asset/icons/instagram_4138124.png"
                  alt="instagram"
                />
              </a>
            </span>
            <span class="social_">
              <a class="socialLink" href="#">
                <img src="./../asset/icons/twitter_4494477.png" alt="twitter" />
              </a>
            </span>
          </div>
        </div>
        <div class="copyRight">
          <p class="copyRightText">© 2023,Ben Silver</p>
        </div>
      </div>
    </footer>
  </body>
</html>
