<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../style/index.css" />
    <title>Ben Silver</title>
  </head>
  <body>
    <nav class="navbar_">
      <div class="cart-icon">
        <h4>Contacts:</h4>
        <h4>( Tel No: +226 _____________, WhatsApp: +226 ____________ )</h4>
      </div>
    </nav>
    <nav class="navbar">
      <!-- <div class="menu-icon">&#9776;</div> -->
      <div class="logo">
        <a href="#">
          <img src="./../asset/Sba logo final.png" alt="Company Logo"
        /></a>
      </div>
    </nav>

    <div>
      <h1>Nos Produits</h1>
    </div>
    <!-- //////////////////////////////////////////////////////////////// -->
    <div class="product-main-container">
      <div class="product-container">
        <div class="product-sub-container">
          <div class="product-card">
            <img
              src="./../asset/images/000508ba-8b38-4b3b-b011-4b70f553198d-60.JPG"
              alt="Product Image"
            />
            <div class="overlay">
              <div class="product-infos">
                <div class="like-icon">&#10084;</div>
                <h2 class="product-name">Nom du produit</h2>
                <p class="product-price">60.000FCFA</p>
                <div class="button">
                  <div class="btn-contact">
                    <a class="btn-contact-link" href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="product-sub-container">
          <div class="product-card">
            <img
              src="./../asset/images/3e644f06-1217-4019-b599-7fa25c7d8fe4-55.jpg"
              alt="Product Image"
            />
            <div class="overlay">
              <div class="product-infos">
                <div class="like-icon">&#10084;</div>
                <h2 class="product-name">Nom du produit</h2>
                <p class="product-price">60.000FCFA</p>
                <div class="button">
                  <div class="btn-contact">
                    <a class="btn-contact-link" href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="product-container">
        <div class="product-sub-container">
          <div class="product-card">
            <img
              src="./../asset/images/6c4a851f-2b4b-4af7-ba27-76af80053761-60.jpg"
              alt="Product Image"
            />
            <div class="overlay">
              <div class="product-infos">
                <div class="like-icon">&#10084;</div>
                <h2 class="product-name">Nom du produit</h2>
                <p class="product-price">60.000FCFA</p>
                <div class="button">
                  <div class="btn-contact">
                    <a class="btn-contact-link" href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="product-sub-container">
          <div class="product-card">
            <img
              src="./../asset/images/65293132-d68a-4a9c-81bd-0cf6c735f047-55.JPG"
              alt="Product Image"
            />
            <div class="overlay">
              <div class="product-infos">
                <div class="like-icon">&#10084;</div>
                <h2 class="product-name">Nom du produit</h2>
                <p class="product-price">60.000FCFA</p>
                <div class="button">
                  <div class="btn-contact">
                    <a class="btn-contact-link" href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- //////////////////////////////////////////////////////////////////// -->
    <div class="product-main-container">
      <div class="product-container">
        <div class="product-sub-container">
          <div class="product-card">
            <img
              src="./../asset/images/5d16ffae-b38d-4e57-bb32-903c3dfc1561-500.JPG"
              alt="Product Image"
            />
            <div class="overlay">
              <div class="product-infos">
                <div class="like-icon">&#10084;</div>
                <h2 class="product-name">Nom du produit</h2>
                <p class="product-price">60.000FCFA</p>
                <div class="button">
                  <div class="btn-contact">
                    <a class="btn-contact-link" href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="product-sub-container">
          <div class="product-card">
            <img
              src="./../asset/images/5bbcf581-0c20-4bc3-9b2f-c8c61cbb40dc-500.JPG"
              alt="Product Image"
            />
            <div class="overlay">
              <div class="product-infos">
                <div class="like-icon">&#10084;</div>
                <h2 class="product-name">Nom du produit</h2>
                <p class="product-price">60.000FCFA</p>
                <div class="button">
                  <div class="btn-contact">
                    <a class="btn-contact-link" href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="product-container">
        <div class="product-sub-container">
          <div class="product-card">
            <img
              src="./../asset/images/757a436b-ecb2-4c2a-866c-12eacfcaa597-500.JPG"
              alt="Product Image"
            />
            <div class="overlay">
              <div class="product-infos">
                <div class="like-icon">&#10084;</div>
                <h2 class="product-name">Nom du produit</h2>
                <p class="product-price">60.000FCFA</p>
                <div class="button">
                  <div class="btn-contact">
                    <a class="btn-contact-link" href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="product-sub-container">
          <div class="product-card">
            <img
              src="./../asset/images/9758310a-dd5f-4561-afb2-94934f729947-35.JPG"
              alt="Product Image"
            />
            <div class="overlay">
              <div class="product-infos">
                <div class="like-icon">&#10084;</div>
                <h2 class="product-name">Nom du produit</h2>
                <p class="product-price">60.000FCFA</p>
                <div class="button">
                  <div class="btn-contact">
                    <a class="btn-contact-link" href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /////////////////////////////////////////////////////////////////// -->
    <div class="product-main-container">
      <div class="product-container">
        <div class="product-sub-container">
          <div class="product-card">
            <img
              src="./../asset/images/b5d25e48-3370-46ff-ac97-845ddb39efb8-55.JPG"
              alt="Product Image"
            />
            <div class="overlay">
              <div class="product-infos">
                <div class="like-icon">&#10084;</div>
                <h2 class="product-name">Nom du produit</h2>
                <p class="product-price">60.000FCFA</p>
                <div class="button">
                  <div class="btn-contact">
                    <a class="btn-contact-link" href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="product-sub-container">
          <div class="product-card">
            <img
              src="./../asset/images/c11ea9e2-a408-44ac-9b1e-ec2a65cb8253.JPG"
              alt="Product Image"
            />
            <div class="overlay">
              <div class="product-infos">
                <div class="like-icon">&#10084;</div>
                <h2 class="product-name">Nom du produit</h2>
                <p class="product-price">60.000FCFA</p>
                <div class="button">
                  <div class="btn-contact">
                    <a class="btn-contact-link" href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="product-container">
        <div class="product-sub-container">
          <div class="product-card">
            <img
              src="./../asset/images/f6d32c7a-0ad4-4627-bb9a-af201f5758f1-500.JPG"
              alt="Product Image"
            />
            <div class="overlay">
              <div class="product-infos">
                <div class="like-icon">&#10084;</div>
                <h2 class="product-name">Nom du produit</h2>
                <p class="product-price">60.000FCFA</p>
                <div class="button">
                  <div class="btn-contact">
                    <a class="btn-contact-link" href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="product-sub-container">
          <div class="product-card">
            <img src="./../asset/images/IMG-2823-25.jpg" alt="Product Image" />
            <div class="overlay">
              <div class="product-infos">
                <div class="like-icon">&#10084;</div>
                <h2 class="product-name">Nom du produit</h2>
                <p class="product-price">60.000FCFA</p>
                <div class="button">
                  <div class="btn-contact">
                    <a class="btn-contact-link" href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /////////////////////////////////////////////////////////////////// -->
    <div class="product-main-container">
      <div class="product-container">
        <div class="product-sub-container">
          <div class="product-card">
            <img src="./../asset/images/IMG-2902-20.jpg" alt="Product Image" />
            <div class="overlay">
              <div class="product-infos">
                <div class="like-icon">&#10084;</div>
                <h2 class="product-name">Nom du produit</h2>
                <p class="product-price">60.000FCFA</p>
                <div class="button">
                  <div class="btn-contact">
                    <a class="btn-contact-link" href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="product-sub-container">
          <div class="product-card">
            <img src="./../asset/images/IMG-3333-17.jpg" alt="Product Image" />
            <div class="overlay">
              <div class="product-infos">
                <div class="like-icon">&#10084;</div>
                <h2 class="product-name">Nom du produit</h2>
                <p class="product-price">60.000FCFA</p>
                <div class="button">
                  <div class="btn-contact">
                    <a class="btn-contact-link" href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="product-container">
        <div class="product-sub-container">
          <div class="product-card">
            <img src="./../asset/images/IMG-2906-25.jpg" alt="Product Image" />
            <div class="overlay">
              <div class="product-infos">
                <div class="like-icon">&#10084;</div>
                <h2 class="product-name">Nom du produit</h2>
                <p class="product-price">60.000FCFA</p>
                <div class="button">
                  <div class="btn-contact">
                    <a class="btn-contact-link" href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="product-sub-container">
          <div class="product-card">
            <img src="./../asset/images/IMG-3332-20.jpg" alt="Product Image" />
            <div class="overlay">
              <div class="product-infos">
                <div class="like-icon">&#10084;</div>
                <h2 class="product-name">Nom du produit</h2>
                <p class="product-price">60.000FCFA</p>
                <div class="button">
                  <div class="btn-contact">
                    <a class="btn-contact-link" href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /////////////////////////////////////////////////////////////////// -->
    <div class="product-main-container">
      <div class="product-container">
        <div class="product-sub-container">
          <div class="product-card">
            <img src="./../asset/images/IMG-3712-20.jpg" alt="Product Image" />
            <div class="overlay">
              <div class="product-infos">
                <div class="like-icon">&#10084;</div>
                <h2 class="product-name">Nom du produit</h2>
                <p class="product-price">60.000FCFA</p>
                <div class="button">
                  <div class="btn-contact">
                    <a class="btn-contact-link" href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="product-sub-container">
          <div class="product-card">
            <img src="./../asset/images/IMG-3718-16.jpg" alt="Product Image" />
            <div class="overlay">
              <div class="product-infos">
                <div class="like-icon">&#10084;</div>
                <h2 class="product-name">Nom du produit</h2>
                <p class="product-price">60.000FCFA</p>
                <div class="button">
                  <div class="btn-contact">
                    <a class="btn-contact-link" href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="product-container">
        <div class="product-sub-container">
          <div class="product-card">
            <img src="./../asset/images/IMG-3831-30.jpg" alt="Product Image" />
            <div class="overlay">
              <div class="product-infos">
                <div class="like-icon">&#10084;</div>
                <h2 class="product-name">Nom du produit</h2>
                <p class="product-price">60.000FCFA</p>
                <div class="button">
                  <div class="btn-contact">
                    <a class="btn-contact-link" href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="product-sub-container">
          <div class="product-card">
            <img src="./../asset/images/IMG-3832-30.jpg" alt="Product Image" />
            <div class="overlay">
              <div class="product-infos">
                <div class="like-icon">&#10084;</div>
                <h2 class="product-name">Nom du produit</h2>
                <p class="product-price">60.000FCFA</p>
                <div class="button">
                  <div class="btn-contact">
                    <a class="btn-contact-link" href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /////////////////////////////////////////////////////////////////// -->
    <div class="product-main-container">
      <div class="product-container">
        <div class="product-sub-container">
          <div class="product-card">
            <img src="./../asset/images/IMG-4154-14.jpg" alt="Product Image" />
            <div class="overlay">
              <div class="product-infos">
                <div class="like-icon">&#10084;</div>
                <h2 class="product-name">Nom du produit</h2>
                <p class="product-price">60.000FCFA</p>
                <div class="button">
                  <div class="btn-contact">
                    <a class="btn-contact-link" href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="product-sub-container">
          <div class="product-card">
            <img src="./../asset/images/IMG-4181-17.jpg" alt="Product Image" />
            <div class="overlay">
              <div class="product-infos">
                <div class="like-icon">&#10084;</div>
                <h2 class="product-name">Nom du produit</h2>
                <p class="product-price">60.000FCFA</p>
                <div class="button">
                  <div class="btn-contact">
                    <a class="btn-contact-link" href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="product-container">
        <div class="product-sub-container">
          <div class="product-card">
            <img src="./../asset/images/IMG-4211-13.jpg" alt="Product Image" />
            <div class="overlay">
              <div class="product-infos">
                <div class="like-icon">&#10084;</div>
                <h2 class="product-name">Nom du produit</h2>
                <p class="product-price">60.000FCFA</p>
                <div class="button">
                  <div class="btn-contact">
                    <a class="btn-contact-link" href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="product-sub-container">
          <div class="product-card">
            <img src="./../asset/images/IMG-4270-30.jpg" alt="Product Image" />
            <div class="overlay">
              <div class="product-infos">
                <div class="like-icon">&#10084;</div>
                <h2 class="product-name">Nom du produit</h2>
                <p class="product-price">60.000FCFA</p>
                <div class="button">
                  <div class="btn-contact">
                    <a class="btn-contact-link" href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /////////////////////////////////////////////////////////////////// -->
    <div class="product-main-container">
      <div class="product-container">
        <div class="product-sub-container">
          <div class="product-card">
            <img src="./../asset/images/IMG-4403-16.jpg" alt="Product Image" />
            <div class="overlay">
              <div class="product-infos">
                <div class="like-icon">&#10084;</div>
                <h2 class="product-name">Nom du produit</h2>
                <p class="product-price">60.000FCFA</p>
                <div class="button">
                  <div class="btn-contact">
                    <a class="btn-contact-link" href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="product-sub-container">
          <div class="product-card">
            <img src="./../asset/images/IMG-4295-15.jpg" alt="Product Image" />
            <div class="overlay">
              <div class="product-infos">
                <div class="like-icon">&#10084;</div>
                <h2 class="product-name">Nom du produit</h2>
                <p class="product-price">60.000FCFA</p>
                <div class="button">
                  <div class="btn-contact">
                    <a class="btn-contact-link" href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="product-container">
        <div class="product-sub-container">
          <div class="product-card">
            <img src="./../asset/images/IMG-4508-25.jpg" alt="Product Image" />
            <div class="overlay">
              <div class="product-infos">
                <div class="like-icon">&#10084;</div>
                <h2 class="product-name">Nom du produit</h2>
                <p class="product-price">60.000FCFA</p>
                <div class="button">
                  <div class="btn-contact">
                    <a class="btn-contact-link" href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="product-sub-container">
          <div class="product-card">
            <img src="./../asset/images/IMG-4509-25.jpg" alt="Product Image" />
            <div class="overlay">
              <div class="product-infos">
                <div class="like-icon">&#10084;</div>
                <h2 class="product-name">Nom du produit</h2>
                <p class="product-price">60.000FCFA</p>
                <div class="button">
                  <div class="btn-contact">
                    <a class="btn-contact-link" href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /////////////////////////////////////////////////////////////////// -->
    <div class="product-main-container">
      <div class="product-container">
        <div class="product-sub-container">
          <div class="product-card">
            <img src="./../asset/images/IMG-4510-25.jpg" alt="Product Image" />
            <div class="overlay">
              <div class="product-infos">
                <div class="like-icon">&#10084;</div>
                <h2 class="product-name">Nom du produit</h2>
                <p class="product-price">60.000FCFA</p>
                <div class="button">
                  <div class="btn-contact">
                    <a class="btn-contact-link" href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="product-sub-container">
          <div class="product-card">
            <img src="./../asset/images/IMG-4747-25.jpg" alt="Product Image" />
            <div class="overlay">
              <div class="product-infos">
                <div class="like-icon">&#10084;</div>
                <h2 class="product-name">Nom du produit</h2>
                <p class="product-price">60.000FCFA</p>
                <div class="button">
                  <div class="btn-contact">
                    <a class="btn-contact-link" href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="product-container">
        <div class="product-sub-container">
          <div class="product-card">
            <img src="./../asset/images/IMG-4775-14.jpg" alt="Product Image" />
            <div class="overlay">
              <div class="product-infos">
                <div class="like-icon">&#10084;</div>
                <h2 class="product-name">Nom du produit</h2>
                <p class="product-price">60.000FCFA</p>
                <div class="button">
                  <div class="btn-contact">
                    <a class="btn-contact-link" href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="product-sub-container">
          <div class="product-card">
            <img src="./../asset/images/IMG-4798-13.jpg" alt="Product Image" />
            <div class="overlay">
              <div class="product-infos">
                <div class="like-icon">&#10084;</div>
                <h2 class="product-name">Nom du produit</h2>
                <p class="product-price">60.000FCFA</p>
                <div class="button">
                  <div class="btn-contact">
                    <a class="btn-contact-link" href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /////////////////////////////////////////////////////////////////// -->
    <div class="product-main-container">
      <div class="product-container">
        <div class="product-sub-container">
          <div class="product-card">
            <img src="./../asset/images/IMG-4799-13.jpg" alt="Product Image" />
            <div class="overlay">
              <div class="product-infos">
                <div class="like-icon">&#10084;</div>
                <h2 class="product-name">Nom du produit</h2>
                <p class="product-price">60.000FCFA</p>
                <div class="button">
                  <div class="btn-contact">
                    <a class="btn-contact-link" href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="product-sub-container">
          <div class="product-card">
            <img src="./../asset/images/IMG-4901-15.JPG" alt="Product Image" />
            <div class="overlay">
              <div class="product-infos">
                <div class="like-icon">&#10084;</div>
                <h2 class="product-name">Nom du produit</h2>
                <p class="product-price">60.000FCFA</p>
                <div class="button">
                  <div class="btn-contact">
                    <a class="btn-contact-link" href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="product-container">
        <div class="product-sub-container">
          <div class="product-card">
            <img src="./../asset/images/IMG-4906-17.jpg" alt="Product Image" />
            <div class="overlay">
              <div class="product-infos">
                <div class="like-icon">&#10084;</div>
                <h2 class="product-name">Nom du produit</h2>
                <p class="product-price">60.000FCFA</p>
                <div class="button">
                  <div class="btn-contact">
                    <a class="btn-contact-link" href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="product-sub-container">
          <div class="product-card">
            <img src="./../asset/images/IMG-4907-13.JPG" alt="Product Image" />
            <div class="overlay">
              <div class="product-infos">
                <div class="like-icon">&#10084;</div>
                <h2 class="product-name">Nom du produit</h2>
                <p class="product-price">60.000FCFA</p>
                <div class="button">
                  <div class="btn-contact">
                    <a class="btn-contact-link" href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /////////////////////////////////////////////////////////////////// -->
    <div class="product-main-container">
      <div class="product-container">
        <div class="product-sub-container">
          <div class="product-card">
            <img
              src="./../asset/images/IMG-4908-20.jpg"
              alt="Product Image"
            />
            <div class="overlay">
              <div class="product-infos">
                <div class="like-icon">&#10084;</div>
                <h2 class="product-name">Nom du produit</h2>
                <p class="product-price">60.000FCFA</p>
                <div class="button">
                  <div class="btn-contact">
                    <a class="btn-contact-link" href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="product-sub-container">
          <div class="product-card">
            <img
              src="./../asset/images/IMG-5062-45.jpg"
              alt="Product Image"
            />
            <div class="overlay">
              <div class="product-infos">
                <div class="like-icon">&#10084;</div>
                <h2 class="product-name">Nom du produit</h2>
                <p class="product-price">60.000FCFA</p>
                <div class="button">
                  <div class="btn-contact">
                    <a class="btn-contact-link" href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="product-container">
        <div class="product-sub-container">
          <div class="product-card">
            <img
              src="./../asset/images/IMG-5023-15.jpg"
              alt="Product Image"
            />
            <div class="overlay">
              <div class="product-infos">
                <div class="like-icon">&#10084;</div>
                <h2 class="product-name">Nom du produit</h2>
                <p class="product-price">60.000FCFA</p>
                <div class="button">
                  <div class="btn-contact">
                    <a class="btn-contact-link" href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="product-sub-container">
          <div class="product-card">
            <img
              src="./../asset/images/IMG-5024-15.jpg"
              alt="Product Image"
            />
            <div class="overlay">
              <div class="product-infos">
                <div class="like-icon">&#10084;</div>
                <h2 class="product-name">Nom du produit</h2>
                <p class="product-price">60.000FCFA</p>
                <div class="button">
                  <div class="btn-contact">
                    <a class="btn-contact-link" href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /////////////////////////////////////////////////////////////////// -->
    <div class="product-main-container">
      <div class="product-container">
        <div class="product-sub-container">
          <div class="product-card">
            <img
              src="./../asset/images/IMG-5063-40.jpg"
              alt="Product Image"
            />
            <div class="overlay">
              <div class="product-infos">
                <div class="like-icon">&#10084;</div>
                <h2 class="product-name">Nom du produit</h2>
                <p class="product-price">60.000FCFA</p>
                <div class="button">
                  <div class="btn-contact">
                    <a class="btn-contact-link" href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="product-sub-container">
          <div class="product-card">
            <img
              src="./../asset/images/IMG-5464-17.jpg"
              alt="Product Image"
            />
            <div class="overlay">
              <div class="product-infos">
                <div class="like-icon">&#10084;</div>
                <h2 class="product-name">Nom du produit</h2>
                <p class="product-price">60.000FCFA</p>
                <div class="button">
                  <div class="btn-contact">
                    <a class="btn-contact-link" href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="product-container">
        <div class="product-sub-container">
          <div class="product-card">
            <img
              src="./../asset/images/IMG-5467-20.jpg"
              alt="Product Image"
            />
            <div class="overlay">
              <div class="product-infos">
                <div class="like-icon">&#10084;</div>
                <h2 class="product-name">Nom du produit</h2>
                <p class="product-price">60.000FCFA</p>
                <div class="button">
                  <div class="btn-contact">
                    <a class="btn-contact-link" href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="product-sub-container">
          <div class="product-card">
            <img
              src="./../asset/images/IMG-5524-100.JPG"
              alt="Product Image"
            />
            <div class="overlay">
              <div class="product-infos">
                <div class="like-icon">&#10084;</div>
                <h2 class="product-name">Nom du produit</h2>
                <p class="product-price">60.000FCFA</p>
                <div class="button">
                  <div class="btn-contact">
                    <a class="btn-contact-link" href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /////////////////////////////////////////////////////////////////// -->
    <div class="product-main-container">
      <div class="product-container">
        <div class="product-sub-container">
          <div class="product-card">
            <img
              src="./../asset/images/wedding-2544405.jpg"
              alt="Product Image"
            />
            <div class="overlay">
              <div class="product-infos">
                <div class="like-icon">&#10084;</div>
                <h2 class="product-name">Nom du produit</h2>
                <p class="product-price">60.000FCFA</p>
                <div class="button">
                  <div class="btn-contact">
                    <a class="btn-contact-link" href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="product-sub-container">
          <div class="product-card">
            <img
              src="./../asset/images/IMG-5466-30.jpg"
              alt="Product Image"
            />
            <div class="overlay">
              <div class="product-infos">
                <div class="like-icon">&#10084;</div>
                <h2 class="product-name">Nom du produit</h2>
                <p class="product-price">60.000FCFA</p>
                <div class="button">
                  <div class="btn-contact">
                    <a class="btn-contact-link" href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="product-container">
        <div class="product-sub-container">
          <div class="product-card">
            <img
              src="./../asset/images/wedding-rings-3611277.jpg"
              alt="Product Image"
            />
            <div class="overlay">
              <div class="product-infos">
                <div class="like-icon">&#10084;</div>
                <h2 class="product-name">Nom du produit</h2>
                <p class="product-price">60.000FCFA</p>
                <div class="button">
                  <div class="btn-contact">
                    <a class="btn-contact-link" href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="product-sub-container">
          <div class="product-card">
            <img
              src="./../asset/images/IMG-5465-15.jpg"
              alt="Product Image"
            />
            <div class="overlay">
              <div class="product-infos">
                <div class="like-icon">&#10084;</div>
                <h2 class="product-name">Nom du produit</h2>
                <p class="product-price">60.000FCFA</p>
                <div class="button">
                  <div class="btn-contact">
                    <a class="btn-contact-link" href="#">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /////////////////////////////////////////////////////////////////// -->
    <div>
      <div id="about-us" class="about-main-container">
        <div class="about-container">
          <h3 class="about-title">A PROPOS DE NOUS</h3>
          <div>
            <img src="./../asset/icons/group_681392.png" alt="about-us" />
          </div>
          <p class="about-text">
            It appears that you are trying to create a link with an icon using
            the HTML code you provided. However, there seems to be an issue with
            the image source path. In your code, you are using a relative path
            to the image, and it might not be correctly referencing the icon in
            your project directory structure. Here are a few things to check and
            troubleshoot.
          </p>
        </div>
      </div>

      <div id="guaranty" class="guaranty-main-container">
        <div class="guaranty-container">
          <h3 class="guaranty-title">GARANTIES ET AUTRES</h3>
          <div>
            <img src="./../asset/icons/shield_6785410.png" alt="guaranty" />
          </div>
          <p class="guaranty-text">
            It appears that you are trying to create a link with an icon using
            the HTML code you provided. However, there seems to be an issue with
            the image source path. In your code, you are using a relative path
            to the image, and it might not be correctly referencing the icon in
            your project directory structure. Here are a few things to check and
            troubleshoot.
          </p>
        </div>
      </div>

      <div id="services" class="category-main-container">
        <div class="category-container">
          <h3 class="category-title">NOS PRESTATIONS</h3>
          <div>
            <img src="./../asset/icons/customer_686379.png" alt="services" />
          </div>
          <p class="category-text">
            It appears that you are trying to create a link with an icon using
            the HTML code you provided. However, there seems to be an issue with
            the image source path. In your code, you are using a relative path
            to the image, and it might not be correctly referencing the icon in
            your project directory structure. Here are a few things to check and
            troubleshoot.
          </p>
        </div>
      </div>

      <div id="location" class="location-main-container">
        <div class="location-container">
          <h3 class="location-title">SITUATION GEOGRAPHIQUE</h3>
          <div>
            <img src="./../asset/icons/map_1865269.png" alt="location" />
          </div>
          <p class="location-text">
            Vous puvez nous touver (situation geographique)
          </p>
        </div>
      </div>

      <div class="assistance-main-container">
        <div class="assistance-container">
          <h3 class="assistance-title">ASSISTANCE</h3>
          <div>
            <img
              src="./../asset/icons/customer-service_5313226.png"
              alt="assistance"
            />
          </div>
          <p class="assistance-text">
            Pour obtenir de l'assistance concernant certaines incompréhensions,
            nous vous invitons à nous contacter:
          </p>
          <div class="assistance-telephone">
            <div class="assistance-telephone-container">
              <span class="assistance-telephoneIcon">
                <img
                  src="./../asset/icons/telephone-handle-silhouette_25453.png"
                  alt="telephone"
                />
              </span>
              <span class="assistance-telephoneInfo">+226__________</span>
            </div>
            <div class="assistance-telephone-container">
              <span class="assistance-telephoneIcon">
                <img
                  src="./../asset/icons/whatsapp_733585.png"
                  alt="whatsApp"
                />
              </span>
              <span class="assistance-telephoneInfo">+226_________</span>
            </div>
            <div class="assistance-telephone-container">
              <span class="assistance-telephoneIcon">
                <img src="./../asset/icons/gmail_5968534.png" alt="Email" />
              </span>
              <span class="assistance-telephoneInfo">___@gmail.com</span>
            </div>
          </div>
          <p class="assistance-text">
            Ou bien, au moyen de nos plateformes de médias sociaux,
          </p>
          <div class="assistance-social">
            <span class="assistance-social_">
              <a class="assistance-socialLink" href="#">
                <img
                  src="./../asset/icons/facebook_4494475.png"
                  alt="facebook"
                />
              </a>
            </span>
            <span class="assistance-social_">
              <a class="assistance-socialLink" href="#">
                <img
                  src="./../asset/icons/instagram_4138124.png"
                  alt="instagram"
                />
              </a>
            </span>
            <span class="assistance-social_">
              <a class="assistance-socialLink" href="#">
                <img src="./../asset/icons/twitter_4494477.png" alt="twitter" />
              </a>
            </span>
          </div>
        </div>
      </div>

      <div id="blog" class="blog-container">
        <h2 class="blog-title">LE BLOG</h2>
        <img
          class="blog-image"
          src="./../asset/images/479c6784-eea5-4142-9986-6817420ebb04-35.JPG"
          alt="Image"
        />
        <div class="blog-text-container">
          <h3 class="blog-text-title">Title</h3>
          <p class="blog-text">
            It appears that you are trying to create a link with an icon using
            the HTML code you provided. However, there seems to be an issue with
            the image source path. In your code, you are using a relative path
            to the image, and it might not be correctly referencing the icon in
            your project directory structure. Here are a few things to check and
            troubleshoot.
          </p>
        </div>
      </div>
    </div>
    <footer>
      <div class="main-contain">
        <div class="logo">
          <a href="#"
            ><img src="./../asset/Sba logo final.png" alt="Company Logo"
          /></a>
        </div>
        <div class="options">
          <span class="option">
            <a class="optionLink" href="#about-us">A propos de nous</a>
          </span>
          <span class="option">
            <a class="optionLink" href="#services">Nos prestations</a>
          </span>
          <span class="option">
            <a class="optionLink" href="#guaranty">Nos guaranties et autres</a>
          </span>
          <span class="option">
            <a class="optionLink" href="#location">Situation geographique</a>
          </span>
          <span class="option">
            <a class="optionLink" href="#blog">Le blog</a>
          </span>
        </div>
        <div class="contacts">
          <div class="telephone">
            <h4 class="contactText">Contactez nous!</h4>
            <div class="telephoneInfo-container">
              <span class="telephoneIcon">
                <img
                  src="./../asset/icons/telephone-handle-silhouette_25453.png"
                  alt="telephone"
                />
              </span>
              <span class="telephoneInfo">+226______________</span>
            </div>
            <div class="telephoneInfo-container">
              <span class="telephoneIcon">
                <img
                  src="./../asset/icons/whatsapp_733585.png"
                  alt="whatsApp"
                />
              </span>
              <span class="telephoneInfo">+226______________</span>
            </div>
            <div class="telephoneInfo-container">
              <span class="telephoneIcon">
                <img src="./../asset/icons/gmail_5968534.png" alt="Email" />
              </span>
              <span class="telephoneInfo">___@gmail.com</span>
            </div>
          </div>
          <div class="social">
            <h4 class="socialText">Suivez nous aussi sur:</h4>
            <span class="social_">
              <a class="socialLink" href="#">
                <img
                  src="./../asset/icons/facebook_4494475.png"
                  alt="facebook"
                />
              </a>
            </span>
            <span class="social_">
              <a class="socialLink" href="#">
                <img
                  src="./../asset/icons/instagram_4138124.png"
                  alt="instagram"
                />
              </a>
            </span>
            <span class="social_">
              <a class="socialLink" href="#">
                <img src="./../asset/icons/twitter_4494477.png" alt="twitter" />
              </a>
            </span>
          </div>
        </div>
        <div class="copyRight">
          <p class="copyRightText">© 2023,Ben Silver</p>
        </div>
      </div>
    </footer>
  </body>
</html>
