<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../style/product_info.css" />
    <title>Infos</title>
  </head>
  <body>
    <div class="root-container">
      <div class="about-product">
        <img
          src="./../asset/images/000508ba-8b38-4b3b-b011-4b70f553198d-60.JPG"
          alt="Image"
        />
        <div class="product-info">
          <div class="info-container">
            <p class="product-name">Nom du produit</p>
            <p class="product-description">Infos sur le produit</p>
            <p class="product-price">Prix</p>
          </div>
          <div class="customer-support">
            <h3 class="support-title">Comment lancer votre command?</h3>
            <p class="support-content">
              C'est tres simple!!! Il vous suffira seulement de nous contacter
              par appel vocal (sur
              <a class="support-link" href="#">WhatsApp</a> ou
              <a class="support-link" href="#">Appel simple</a>), ou par
              messagerie (<a class="support-link" href="#">WhatsApp</a> ,
              <a class="support-link" href="#">messenger</a>,
              <a class="support-link" href="#">Email</a>) et vous serez servi
            </p>
          </div>

          <a class="button-link" href="#">
            <div class="button">Effectuez votre commande!</div>
          </a>
        </div>
      </div>
      <div class="more-about-product">
        <h2 class="more-about-product-title">En savoir plus sur le produit</h2>
        <div class="more-about-product-container">
          <p class="more-about-product-text">It appears that you are trying to create a link with an icon using the
            HTML code you provided. However, there seems to be an issue with the
            image source path. In your code, you are using a relative path to the
            image, and it might not be correctly referencing the icon in your
            project directory structure. Here are a few things to check and
            troubleshoot: 1.</p>
        </div>
      </div>
    </div>
  </body>
</html>
